<% include inc/header %>
<div id="main">
    <div id="main-inner">
        <div id="article-title">
            <a href="<%= article.link %>"><%= article.title %></a>
        </div>
        <div id="article-meta">
            作者 <%= article.author %> | 发布于 <%= article.postedOn %>
        </div>
        <div id="article-tags">
        <% article.tags.forEach(function (tag) { %>
        <a class="tag" href="/tag.html#<%= tag %>"><%= tag %></a>
        <% }); %>
        </div>
        <div id="article-content">
            <%- article.content %>
        </div>
        <% include inc/article_footer_plugin %>
    </div>
</div>
<% include inc/footer %>
